<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


<!--    2.配置handlermapping-->
<!--    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>-->
<!--    3.配置handleradapter-->
<!--    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>-->

    <mvc:annotation-driven/>

<!--    4.配置hangler-->
    <context:component-scan base-package="controller"/>
<!--    5.配置viewresolver-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".jsp"/>
<!--        6.配置view-->
<!--        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>-->
    </bean>

<!--    使用tomcat提供的默认servlet处理静态资源-->
    <mvc:default-servlet-handler/>

<!--    直接访问jsp页面-->
    <mvc:view-controller path="/userLogin" view-name="login"/>
    <mvc:view-controller path="/showFile" view-name="file"/>
<!--    定义拦截器-->
    <mvc:interceptors>
<!--        拦截所有请求-->
<!--        <bean class="Interceptor.HelloInterceptor"/>-->
<!--        拦截指定请求-->
        <mvc:interceptor>
            <mvc:mapping path="/showLogin"/>
            <bean class="Interceptor.HelloInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
<!--    配置文件解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
</beans>